YETAOS_LXD_SOCKET=/var/snap/lxd/common/lxd/unix.socket
YETAOS_STORE_PATH=/tmp/yetaos/containers.json
YETAOS_PROFILES_DIR=../lxc/profiles
YETAOS_CLOUD_INIT_DIR=../lxc/cloud-init
YETAOS_WORKSPACES_DIR=/tmp/yetaos/workspaces
YETAOS_SECRETS_DIR=/tmp/yetaos/secrets
YETAOS_MODELS_DIR=/tmp/yetaos/models
YETAOS_API_KEY=change-me
YETAOS_HOST=0.0.0.0
YETAOS_PORT=8000
YETAOS_LOG_LEVEL=info